

@import 'libs/bootstrap-reboot.min';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    padding: 20px;
}


.price-card__rate_wrap {
    position: relative;
    span {
        position: absolute;
        height: 15px;
        width: 5px;
        background: rgb(53, 116, 218);
        top: 50%;
        transform: translateY(-50%);
        &:nth-child(1) {
            left: -4px;
        }   
        &:nth-child(2) {
            right: -4px;
        }
    }
}
.calc {
    &-wrap {
        max-width: 900px;
    }
    &-body {

    }
    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

          input {
            width: 350px;
            height: 38px;
            // -webkit-appearance: none;
            margin: 10px 0;
            position: relative;
            span {

            }

        }
          
    }
    #calc-storage { // input st

    }
    #calc-transfer { // input tr

    }
    #price-calc { // form

    }
    .calc-res {
        &_storage {
            span {

            }
        }
        &_transfer {
            span {
                
            }
        }
    }
    .price-calc { // outpud

    }

}
.pricing-bar {
    display: flex;
    margin-bottom: 15px;
   &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::after {
        position: absolute;
        left: -1px;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        height: 40px;
        background: #000;
        width: 5px;
    }
   }
   &__ckeckeds {
    margin-right: 15px;
    display: flex;

    label {
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
   }
    &__num { // просто число
        margin-left: 20px;
    }
    &__info {
        width: 400px;
    }
    &__name {
        margin-bottom: 5px;
        font-size: 18px;
    }
}
.pricing-bar__value { // изменяется
    height: 25px;
    background-color: rgb(53, 116, 218);
    width: 40px;
    display: flex;
}
@import 'blocks/header';